# Appwrite
EXPO_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
EXPO_PUBLIC_APPWRITE_PROJECT_ID=
EXPO_PUBLIC_APPWRITE_PLATFORM=com.thirdandmanageable.app
EXPO_PUBLIC_APPWRITE_DATABASE_ID=

# Collections
EXPO_PUBLIC_APPWRITE_PROFILES_COLLECTION_ID=
EXPO_PUBLIC_APPWRITE_CHECKINS_COLLECTION_ID=
EXPO_PUBLIC_APPWRITE_COMPLETIONS_COLLECTION_ID=
EXPO_PUBLIC_APPWRITE_ROOMS_COLLECTION_ID=
EXPO_PUBLIC_APPWRITE_MESSAGES_COLLECTION_ID=
EXPO_PUBLIC_APPWRITE_SUPPORT_REQUESTS_COLLECTION_ID=

# Gemini AI
EXPO_PUBLIC_GEMINI_API_KEY=
